@(redirect: Option[String])(implicit request: RequestHeader)

<style>
        body {
            font-family: sans-serif;
            text-align: center;
        }

        form {
            display: inline-block;
            width: 300px;
            background-color: #eee;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
        }

        input[type=submit]:hover {
            opacity: 0.8;
        }
</style>

@main("Login Page") {
    <form action="@routes.AuthController.authenticateUser(redirect)" method="post">
        @helper.CSRF.formField
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <input type="submit" value="Login">
        <br>
        Don't have an Account? <a href="@routes.AuthController.signup()">Sign Up</a>
    </form>
}
